@use '../placeholders/root.scss';

.category{
    
    &__details{

        &__summary{
            display: flex;
            border-bottom: solid root.$gray;
            align-items: center;
            img{
                height: 2rem;
                width: 2rem;
                margin: 1rem;
            }
            h2{
                font-size: 1.8rem;
                text-transform: uppercase;
            }
        }
        
        &__article{
            position: relative;
            display: flex;

            border-bottom: solid 1px root.$gray;
            align-items: center;
            height: 7rem;
            
        
            img{
                height: 6rem;
                width: 6rem;
                margin: 1rem;
                border-radius: .5rem;
                background-color: root.$lightGray;
            }

            &__decsription{

                h3{
                    font-size: 1rem;
                    font-weight: 800;
                }
                p{
                    font-size: 1rem;
                }
            }

        }
    }
}

.drag-to-bookmark{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
   
    right: 0rem;

    height: 7rem;
    width: 6rem;

    background-color: root.$green;
    img{
        height: 2rem;
        width: 2rem;
        background-color: root.$green;

    }
}