@use '../placeholders/root.scss';

footer{
    position: fixed;
    width: 100%;
    bottom: 0;

    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: root.$softBlack;
        
        img{
            height: 2rem;
            width: 2rem;
        }
    } 
}

footer{
    .footer{
        &__current-page{
            color: root.$green;
        }
    }
}