@use '../placeholders/root.scss';

.header{
    display: flex;

    position: sticky;
    top: -2rem;
    z-index: 1;

    background-color: white;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;

    img{
        height: 2rem;
    }

}