@use '../placeholders/root.scss';

.header{
    display: flex;

    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    border-bottom: solid root.$gray;

    img{
        height: 2rem;
    }

}