@use '../placeholders/root.scss';


.search{
    display: flex;
    justify-content: center;
    border-bottom: solid root.$gray;
    border-top: solid root.$gray;

    
    input{
        height: 6vh;
        width: 98%;

        margin: 1rem;
        
        font-size: 1.3rem;
        
        border-radius: 3rem;
        border: solid 3px root.$green;

    }
}